<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PHP Sceleto Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>core</directory>
        </whitelist>
        <logging>
            <log type="coverage-html" target="log/report" lowUpperBound="50" highLowerBound="80"/>
        </logging>
    </filter>
</phpunit>
